# Region 1 - California LIWP Farmworkers
REGION1_PUBLIC_KEY=your_public_key_here
REGION1_PRIVATE_KEY=your_private_key_here

# Region 2 - California LIWP Farmworkers
REGION2_PUBLIC_KEY=your_public_key_here
REGION2_PRIVATE_KEY=your_private_key_here

# SDGE - Whole Home Program
SDGE_PUBLIC_KEY=your_public_key_here
SDGE_PRIVATE_KEY=your_private_key_here

# SCE/SCG ESA Whole Home
SCE_PUBLIC_KEY=your_public_key_here
SCE_PRIVATE_KEY=your_private_key_here

PORT=3001
